<div class="container" id="i18_link">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="link.link">Link</span></h1>
        </div>
    </div>
    <div class="links-grid">
        {% for link in site.data.index.links %}
        <div class="links-item wow fadeInUp">
            <div class="team-member">
                <h4>
                    <span class="navy">{{ link.last_name }}</span>
                    {% if link.first_name and link.first_name != '' %} {{ link.first_name }}{% endif %}
                </h4>
                {% if link.desc and link.desc != '' %}
                <p>{{ link.desc }}</p>
                {% endif %}
                <ul class="list-inline social-icon">
                    {% if link.website and link.website != '' %}
                    <li><a href="{{ link.website }}" target="blank" rel="noopener noreferrer"><i class="fa fa-link"></i></a></li>
                    {% endif %}
                    {% if link.email and link.email != '' %}
                    <li><a href="mailto:{{ link.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="site-footer-wrap">
        <p id="jalpc_site_pv" class="site-footer">
            <strong>&copy; 2017 - {{ 'now' | date: "%Y" }} {{ site.title }}</strong><br>
            <a href="https://beian.miit.gov.cn" target="_blank" rel="noopener noreferrer">湘ICP备17023148号-1</a>
        </p>
    </div>
</div>
