<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% assign page_desc = page.desc | default: site.description %}
  {% assign page_keywords = page.keywords | default: site.keywords %}
  <meta content="{{ page_desc }}" name="description">
  <meta name="keywords" content="{{ page_keywords }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="baseurl" content="{{ site.baseurl }}">

  <title>
    {% if page.title != "index" %}
        {{ site.title }} | {{ page.title }}
    {% else %}
        {{ site.title }}
    {% endif %}
  </title>
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page_desc }}">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.author.avatar }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page_desc }}">
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">

  <!-- Main CSS -->
  <link href="{{ "/static/assets/app-20260911.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/static/css/custom.css" | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Main Scripts：博客页需同步加载，保证分类页 jPages 分页可用 -->
  <script src="{{"/static/assets/app-20260911.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"/static/assets/blog-20260911.min.js"| prepend: site.baseurl }}"></script>
</head>
